name: Update README

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          comment_tag_name: "PRODUCTIVITY"
          feed_list: "https://api.github.com/users/MauricioReisdoefer/events/public"
          max_post_count: 10000
          template: |
            $blog_post_list
