name: Update README

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: alfred1995/productive-box@master
        with:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TIMEZONE: "America/Sao_Paulo"
