name: Update README with Stats

on:
  schedule:
    - cron: '0 */4 * * *'
  workflow_dispatch:

jobs:
  update-stats:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: vn7n24fzkq/github-profile-summary-cards@release
        with:
          USERNAME: ${{ github.repository_owner }} 
          BRANCH_NAME: "main"
          UTC_OFFSET: -3
          GITHUB_TOKEN: ${{ secrets.USER_TOKEN }}
